1_bitwise/byte_output
2_array/array
3_struct/packing_struct
3_struct/telephone_directory
not_tasks/guess_the_number
not_tasks/switch_enum
not_tasks/pointer_func
4_gdb/password
4_gdb/stack_frame
not_tasks/preprocessor_directives
5_dynamic_memory/tel_dir_dyn_mem
